In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

c:\Users\sraja\Miniconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\sraja\Miniconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
c:\Users\sraja\Miniconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [20]:
df = pd.read_csv("data_incoming\Data_Incoming.csv")

df_data_dict = pd.read_csv("data_incoming\Data_Dict.csv")

In [21]:
df_data_dict

         Variable Names                               Variable Description
0                Row.ID                                             Row ID
1              Order.ID                                           Order ID
2         Customer.Name                               Name of the Customer
3            Order.Date                         Date when order was placed
4        Order.Priority                 Priority of the order for delivery
5        Order.Quantity                        Quantity of product ordered
6                 Sales                    Total Sales amount for an order
7              Discount               Discount given on a particular order
8             Ship.Mode                                   Mode of Shipping
9                Profit                          Profit margin in an order
10           Unit.Price                          Unit price of the product
11        Shipping.Cost                   Total shipping cost for an order
12               Region          Region where the order is to be delivered
13     Customer.Segment                                  Customer Segments
14     Product.Category                                  Product Category
15    Product.Container     Container type in which the order is delivered
16  Product.Base.Margin                                Margin on a product
17            Ship.Date                        Date when order was shipped
18        Return.Status  1: Product was returned; 0: Product was not re...

Re-ordering columns for readability , based on type and context

In [22]:
df = df[[
 'Row.ID',
 'Order.ID',
 'Order.Date',
 'Ship.Date',

 'Order.Quantity',
 'Sales',
 'Discount',
 'Profit',
 'Unit.Price',
 'Shipping.Cost',
 'Product.Base.Margin',

 'Customer.Name',
 'Customer.Segment',
 'Product.Category',
 'Region',
 'Order.Priority',
 'Ship.Mode',
 'Product.Container',
 
 'Return.Status'
 
 ]]

In [23]:
df.head()

,Row.ID,Order.ID,Order.Date,Ship.Date,Order.Quantity,Sales,Discount,Profit,Unit.Price,Shipping.Cost,Product.Base.Margin,Customer.Name,Customer.Segment,Product.Category,Region,Order.Priority,Ship.Mode,Product.Container,Return.Status
0,1,3,13-10-2010,20-10-2010,6,261.5400,0.04,-213.25,38.94,35.00,0.80,Muhammed MacIntyre,Small Business,Office Supplies,Nunavut,Low,Regular Air,Large Box,0
1,2,293,01-10-2012,02-10-2012,49,10123.0200,0.07,457.81,208.16,68.02,0.58,Barry French,Consumer,Office Supplies,Nunavut,High,Delivery Truck,Jumbo Drum,0
2,3,483,10-07-2011,12-07-2011,30,4965.7595,0.08,1198.97,195.99,3.99,0.58,Clay Rozendal,Corporate,Technology,Nunavut,High,Regular Air,Small Box,0
3,4,515,28-08-2010,30-08-2010,19,394.2700,0.08,30.94,21.78,5.94,0.50,Carlos Soltero,Consumer,Office Supplies,Nunavut,Not Specified,Regular Air,Medium Box,0
4,5,613,17-06-2011,17-06-2011,12,93.5400,0.03,-54.04,7.30,7.72,0.38,Carl Jackson,Corporate,Office Supplies,Nunavut,High,Regular Air,Small Box,0

In [24]:
df['Order.Date']

0       13-10-2010
1       01-10-2012
2       10-07-2011
3       28-08-2010
4       17-06-2011
           ...
5491    08-10-2010
5492    09-07-2012
5493    30-07-2011
5494    09-08-2010
5495    08-02-2009
Name: Order.Date, Length: 5496, dtype: object

In [6]:
df.describe()

,Row.ID,Order.ID,Order.Quantity,Sales,Discount,Profit,Unit.Price,Shipping.Cost,Product.Base.Margin,Return.Status
count,5496.000000,5496.000000,5496.000000,5496.000000,5496.000000,5496.000000,5496.000000,5496.000000,5496.000000,5496.000000
mean,2748.500000,29967.985262,25.517649,1763.818347,0.049905,200.483017,86.371683,12.789511,0.502640,0.104076
std,1586.702871,17247.419790,14.480022,3645.735913,0.031785,1201.403204,274.638722,16.836484,0.133056,0.305386
min,1.000000,3.000000,1.000000,3.230000,0.000000,-14140.700000,0.990000,0.490000,0.240000,0.000000
25%,1374.750000,15043.000000,13.000000,141.367500,0.020000,-82.162500,6.480000,3.352500,0.380000,0.000000
50%,2748.500000,29926.500000,26.000000,428.021500,0.050000,-0.945000,20.970000,6.070000,0.490000,0.000000
75%,4122.250000,44654.750000,38.000000,1648.850250,0.080000,163.390000,83.100000,14.000000,0.590000,0.000000
max,5496.000000,59973.000000,50.000000,89061.050000,0.170000,27220.690000,6783.020000,164.730000,0.850000,1.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5496 entries, 0 to 5495
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Row.ID               5496 non-null   int64
 1   Order.ID             5496 non-null   int64
 2   Order.Date           5496 non-null   object
 3   Ship.Date            5496 non-null   object
 4   Order.Quantity       5496 non-null   int64
 5   Sales                5496 non-null   float64
 6   Discount             5496 non-null   float64
 7   Profit               5496 non-null   float64
 8   Unit.Price           5496 non-null   float64
 9   Shipping.Cost        5496 non-null   float64
 10  Product.Base.Margin  5496 non-null   float64
 11  Customer.Name        5496 non-null   object
 12  Customer.Segment     5496 non-null   object
 13  Product.Category     5496 non-null   object
 14  Region               5496 non-null   object
 15  Order.Priority       5496 non-null   object
 16  Ship.Mode            5496 non-null   object
 17  Product.Container    5496 non-null   object
 18  Return.Status        5496 non-null   int64
dtypes: float64(6), int64(4), object(9)
memory usage: 815.9+ KB

In [8]:
len(df.columns)

19

In [9]:
df.isnull().sum()

Row.ID                 0
Order.ID               0
Order.Date             0
Ship.Date              0
Order.Quantity         0
Sales                  0
Discount               0
Profit                 0
Unit.Price             0
Shipping.Cost          0
Product.Base.Margin    0
Customer.Name          0
Customer.Segment       0
Product.Category       0
Region                 0
Order.Priority         0
Ship.Mode              0
Product.Container      0
Return.Status          0
dtype: int64

In [10]:
df.dtypes.sort_values()

Row.ID                   int64
Order.Quantity           int64
Return.Status            int64
Order.ID                 int64
Sales                  float64
Discount               float64
Profit                 float64
Unit.Price             float64
Product.Base.Margin    float64
Shipping.Cost          float64
Ship.Date               object
Product.Container       object
Customer.Name           object
Customer.Segment        object
Product.Category        object
Region                  object
Order.Priority          object
Ship.Mode               object
Order.Date              object
dtype: object

In [11]:
df['Customer.Name'].nunique()

795

In [12]:
df['Order.Priority'].value_counts()

High             1134
Low              1119
Critical         1088
Not Specified    1080
Medium           1075
Name: Order.Priority, dtype: int64

In [13]:
df['Ship.Mode'].value_counts()

Regular Air       4073
Delivery Truck     773
Express Air        650
Name: Ship.Mode, dtype: int64

In [14]:
df['Region'].value_counts()

West                     1277
Ontario                  1175
Prarie                   1111
Atlantic                  726
Quebec                    510
Yukon                     373
Northwest Territories     268
Nunavut                    56
Name: Region, dtype: int64

In [15]:
df['Product.Category'].value_counts()

Office Supplies    3063
Technology         1280
Furniture          1153
Name: Product.Category, dtype: int64

In [16]:
df['Product.Container'].value_counts()

Small Box     2893
Wrap Bag       682
Small Pack     632
Jumbo Drum     453
Jumbo Box      326
Large Box      263
Medium Box     247
Name: Product.Container, dtype: int64

In [17]:
df['Customer.Segment'].value_counts()

Corporate         2002
Home Office       1341
Small Business    1077
Consumer          1076
Name: Customer.Segment, dtype: int64

## Data level Check
### we expect that the Data is at Order.ID level

there are no entries that duplicate on the level of the data

In [18]:
df.groupby(['Order.ID'])['Row.ID'].count().value_counts()

1    5496
Name: Row.ID, dtype: int64

___

In [19]:
df

,Row.ID,Order.ID,Order.Date,Ship.Date,Order.Quantity,Sales,Discount,Profit,Unit.Price,Shipping.Cost,Product.Base.Margin,Customer.Name,Customer.Segment,Product.Category,Region,Order.Priority,Ship.Mode,Product.Container,Return.Status
0,1,3,13-10-2010,20-10-2010,6,261.5400,0.04,-213.25,38.94,35.00,0.80,Muhammed MacIntyre,Small Business,Office Supplies,Nunavut,Low,Regular Air,Large Box,0
1,2,293,01-10-2012,02-10-2012,49,10123.0200,0.07,457.81,208.16,68.02,0.58,Barry French,Consumer,Office Supplies,Nunavut,High,Delivery Truck,Jumbo Drum,0
2,3,483,10-07-2011,12-07-2011,30,4965.7595,0.08,1198.97,195.99,3.99,0.58,Clay Rozendal,Corporate,Technology,Nunavut,High,Regular Air,Small Box,0
3,4,515,28-08-2010,30-08-2010,19,394.2700,0.08,30.94,21.78,5.94,0.50,Carlos Soltero,Consumer,Office Supplies,Nunavut,Not Specified,Regular Air,Medium Box,0
4,5,613,17-06-2011,17-06-2011,12,93.5400,0.03,-54.04,7.30,7.72,0.38,Carl Jackson,Corporate,Office Supplies,Nunavut,High,Regular Air,Small Box,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5491,5492,47360,08-10-2010,10-10-2010,25,2200.6400,0.05,-514.18,89.99,42.00,0.66,Frank Hawley,Home Office,Furniture,West,Not Specified,Delivery Truck,Jumbo Drum,0
5492,5493,52706,09-07-2012,16-07-2012,34,1041.6600,0.02,480.53,28.53,1.49,0.38,Harry Greene,Corporate,Office Supplies,West,Low,Express Air,Small Box,0
5493,5494,54279,30-07-2011,31-07-2011,41,10071.0900,0.10,1977.69,264.98,17.86,0.58,Harry Greene,Corporate,Technology,West,High,Delivery Truck,Jumbo Drum,0
5494,5495,55558,09-08-2010,09-08-2010,8,1294.0400,0.05,-323.18,150.98,66.27,0.65,Mick Brown,Consumer,Furniture,West,Medium,Delivery Truck,Jumbo Box,0
5495,5496,56581,08-02-2009,11-02-2009,20,2026.0100,0.10,580.43,105.98,13.99,0.65,Grant Donatelli,Consumer,Furniture,West,High,Express Air,Medium Box,0

In [ ]:
df.columns.tolist()